#spoiler{
    display: none;
    cursor: pointer;
    margin-top: 5px;
}

.container{
    text-align: center;
}

input[type=text]{
    width: 200px;
    margin: 10px;
}

#gravarArquivo{
    width: 350px;
    color: red;
}

i{
    color: black;
}
label{
    margin: 100px;
}

table{
    margin: auto;
}